<main>
  <header class="hintergrundoben">
    <img
      class="qa-zeichen"
      src="/assets/qa-zeichen.png"
      alt="QA-Zeichen"
      (click)="openDialog()"
    />
    <div class="logo-box" (click)="navigateToLandingPage()">
      <img
        class="footprint-human"
        src="/assets/footprint-human.png"
        alt="footprint human"
      />
      <img class="brand-logo" src="/assets/Logo.png" alt="logo" />
      <img
        class="footprint-dog"
        src="/assets/footprint-dog.png"
        alt="footprint dog"
      />
    </div>
    <img
      class="profil-zeichen"
      src="/assets/profil-zeichen.png"
      alt="Profil-Zeichen"
    />
  </header>

  <section>
    <div class="hintergrundmitte">
      <div class="such-container">
        <input type="text" placeholder="Suche..." />
        <button type="button" class="such-button"></button>
      </div>
      <div class="button-container">
        <button
          routerLink="inserieren"
          type="button"
          class="buttons-mittleres-element"
        >
          Inserieren
        </button>
        <button type="button" class="buttons-mittleres-element">
          Feedback
        </button>
        <button
          routerLink="nachrichtenchat"
          type="button"
          class="buttons-mittleres-element"
        >
          Nachrichten
        </button>
        <button
          routerLink="login"
          type="button"
          class="buttons-mittleres-element"
        >
          Login
        </button>
      </div>
    </div>
  </section>
  <section>
    <router-outlet></router-outlet>
  </section>
  <footer class="site-footer">
    <p>&copy; 2024 Two4Four. Alle Rechte vorbehalten.</p>
  </footer>
</main>
