* {
  /*box-sizing: border-box um border/padding inside the elemtents */
  box-sizing: border-box;
}

.hintergrundunten {
  flex-shrink: 0;
  display: flex;
  background-color: #ebfffa;
  border-radius: 15px;
  stroke-width: 2px;
  stroke: rgba(0, 0, 0, 0.5);
  /* BOX MODEL */
  border: 1px solid;
  height: 100vh;
  margin: 0;
}

.elemente-container {
  display: flex;
  justify-content: space-between;
  margin: 121px auto auto auto;
}

.suchbox {
  border: 1px hidden;
  border-radius: 45px;
  background-color: #53a17c;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  /* BOX MODEL */
  width: 330px;
  height: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bild1 {
  border: 1px hidden;
  border-radius: 45px;
  fill: #39b797;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* BOX MODEL */
  width: 305px;
  height: 228px;
  margin-bottom: 15px;
}

.bild2 {
  border: 1px hidden;
  border-radius: 45px;
  fill: #39b797;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* BOX MODEL */
  width: 189px;
  height: 200px;
  margin-bottom: 15px;
  margin-top: 0px;
}

.überschrift1 {
  /*SCHRIFTART BUTTONS*/
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  /* BOX MODEL */
  margin-bottom: 10px;
}

.überschrift2 {
  /*SCHRIFTART BUTTONS*/
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  /* BOX MODEL */
  margin-bottom: 38px;
}

.überschriftkreis {
  /*SCHRIFTART BUTTONS*/
  color: #d96565;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  /* BOX MODEL */
  margin-bottom: 20px;
  margin-top: 20px;
}

.kreismitte {
  flex-shrink: 0;
  border: 1px hidden;
  border-radius: 50%;
  background-color: #fcf0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* BOX MODEL */
  width: 185px;
  height: 177px;
  margin: 70px 108px 15px 108px;
}
