.hintergrundunten {
  flex-shrink: 0;
  display: center;
  background-color: #ebfffa;
  border-radius: 15px;
  stroke-width: 2px;
  stroke: rgba(0, 0, 0, 0.5);
  /* BOX MODEL */
  border: 1px solid;
  height: 100vh;
  margin: 0;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* BOX MODEL */
  margin-top: 45px;
}

.profilzeichenGross {
  width: 130px;
  height: 122px;
  flex-shrink: 0;
}

/* Username und Passwort */
/* Username */
.username-container {
  position: relative;
  display: inline-block;
  /* BOX MODEL */

  width: 326px;
  height: 45px;
  padding: 0;
  margin: 0;
}

.usernameBalken {
  background: white;
  border-radius: 15px;
  border: 3px #39b797 solid;
  /* BOX MODEL */
  width: 326px;
  height: 45px;
}

.profilzeichenklein {
  position: absolute;
  top: 25%;
  right: 5px;
  border: none;
  background-size: cover;
  background-color: transparent;
  /* BOX MODEL */
  width: 23px;
  height: 23px;
  margin-right: 5px;
}

/* Passwort */

.passwort-container {
  position: relative;
  display: inline-block;
  /* BOX MODEL */
  width: 326px;
  height: 45px;
  padding: 0;
  margin: 0;
}

.passwortBalken {
  background: white;
  border-radius: 15px;
  border: 3px #39b797 solid;
  /* BOX MODEL */
  width: 326px;
  height: 45px;
}

.schlosszeichen {
  position: absolute;
  top: 25%;
  right: 5px;
  border: none;
  /* background-image: ; */
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
  /* BOX MODEL */
  width: 23px;
  height: 23px;
  margin-right: 5px;
}

input {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 10px solid #39b797;
  background-color: white;
  margin: 0;
}

.eingelogtbleiben-container {
  margin-right: 170px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.buttons {
  display: center;
  border: 1px hidden;
  background-color: #39b797;
  border-radius: 15px;
  cursor: pointer;
  /* BOX MODEL */
  width: 166px;
  height: 40px;
}

.schriftbuttons {
  /*SCHRIFTART BUTTONS*/
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  justify-content: left;
  margin: 11px 0 11px 0;
}

.custom-snackbar {
  background-color: #39b797 !important;
  color: #000000 !important;
}
