.hintergrundunten {
  flex-shrink: 0;
  background-color: #ebfffa;
  border-radius: 15px;
  stroke-width: 2px;
  stroke: rgba(0, 0, 0, 0.5);
  /* BOX MODEL */
  border: 1px solid;
  min-height: 50vh;
  margin: 0;
  padding: 12px;
}

.backToProfil {
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.form_label {
  font-size: 20px;
}
.form_input {
  font-size: 20px;
  border-color: #39b797;
  border-width: 3px;
  border-radius: 10px;
  border-style: solid;
}

#button_submit {
  width: 100px;
  height: 50px;
  cursor: pointer;
}
#rolle_dropdown {
  font-size: 20px;
  border-color: #39b797;
  border-width: 3px;
  border-radius: 10px;
  border-style: solid;
}
td {
  padding-bottom: 15px;
}
