.qafenster {
  background-color: #39b797;
  width: 700px;
  height: 500px;
}

.schliessknopf {
  border-radius: 50%;
  background-color: #39b797;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 10px;
}
