.qafenster {
  background-color: #39b797;
  border: black 3px solid;
  width: 700px;
  height: 2000px;
  padding: 20px;
}

.schliessknopf {
  border-radius: 50%;
  background-color: #39b797;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
