.hintergrundunten {
  flex-shrink: 0;
  background-color: #ebfffa;
  border-radius: 15px;
  stroke-width: 2px;
  stroke: rgba(0, 0, 0, 0.5);
  /* BOX MODEL */
  border: 1px solid;
  min-height: 50vh;
  margin: 0;
  padding: 12px;
}

.form_label {
  font-size: 20px;
}
.form_input {
  font-size: 20px;
  border-color: #39b797;
  border-width: 3px;
  height: 100px;
  width: 350px;
  border-radius: 10px;
  border-style: solid;
}

#button_submit {
  width: 100px;
  height: 50px;
  cursor: pointer;
}

td {
  padding-bottom: 15px;
}

#insert_bild {
  background-color: #39b797;
  color: black;
  font-size: 20px;
  font-weight: bold;
  height: 150px;
  width: 150px;
  border-radius: 15px;
}

#maintitle {
  font-weight: bold;
  font-size: 40px;
}
